.logo {
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.withlogo {
  width: 180px;
  height: 150px;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10px;
}
.maxwith {
  width: 450px;
  @include mobileMedium {
    width: 300px;
  }
}
.alignLogo {
  display: flex;
  justify-content: space-around;
  @include mobileMedium {
    display: block;
  }
}
