.imgSlide {
  width: 550px;
  height: 400px;
  object-fit: cover;
}
.cards {
  margin-top: 30px;
  margin-bottom: 40px;
}
.splide__slide {
  border-radius: 20px;
}
.card {
  width: 550px;
  margin: 0 auto;
}
.splide_pagination_page {
  border: 0.2px solid black;
}
