@import '../../styles/utils/variables';

header {
  text-align: center;
}
.contentTexte {
  height: 200px;
  background-color: $secondaire;
}
h1,
h2 {
  color: $blanc;
  text-shadow: 0 0 2px $noir, 0 0 2px $noir, 0 0 2px $noir, 0 0 2px $noir,
    0 0 2px $noir;
}
h1 {
  font-size: 65px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
}
h2 {
  font-size: 70px;
  margin-top: 0;
}
