@import '../../styles/utils/variables';
@import '../utils/mixins';

header {
  text-align: center;
  background: linear-gradient(to bottom, $blanc 95%, $noir);
}
.contentTexte {
  height: 100px;
  @include tablet {
    height: 70px;
  }
  @include mobileSmall {
    height: 50px;
  }
}

h2 {
  color: $noir;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  margin-top: 0;
  @include tablet {
    font-size: 40px;
    margin-top: 10px;
  }
  @include mobileSmall {
    font-size: 20px;
  }
}
h1 {
  font-size: 65px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
}
