@import '../../styles/utils/variables';

.menuGauche {
  display: flex;
  width: 100%;
  background-color: $noir;
  color: $blanc;
}
.left {
  margin: 0 auto;
}

.coordonnees {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 100;
}

.iconPosition {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textAdress {
  margin: 0;
  margin-left: 15px;
  color: $blanc;
}
.marginUp {
  margin-top: 5px;
}
.mail {
  width: 150px;
  color: $blanc;
  border-radius: 0;
  padding: 0;
  text-shadow: none;
}
.lien {
  color: $blanc;
  border-radius: 0;
  padding: 0;
  text-shadow: none;
  margin-left: 15px;
  width: 250px;
}
p {
  font-size: 15px;
}
svg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.mobilite {
  color: $blanc;
  margin-top: 20px;
  font-weight: 100;
}
.flex {
  display: flex;
  height: 30px;
}
