.menuGauche {
  background-color: #00c2cb;
  text-align: center;
}
.left {
  margin: 0 auto;
}

/*image*/
.portrait {
  height: 190px;
  width: 190px;
  object-fit: cover;
  border-radius: 50%;

  margin-top: 50px;
  border: 4px solid #536779;
}

.coordonnees {
  margin-top: 100px;
}

.iconPosition {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textAdress {
  margin: 0;
  margin-left: 15px;
}
.marginUp {
  margin-top: 5px;
}
p {
  font-size: 15px;
}
svg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.flex {
  display: flex;
  height: 30px;
}
