@import '../../styles/utils/variables';

nav ul {
  list-style-type: none;
  margin: 0 auto;
  margin-top: 20px;
}
a {
  text-decoration: none;
  border-radius: 15px 15px 15px 15px;
  padding: 5px;
  background-color: $secondaire;
  border-radius: 15px 15px 15px 15px;
  margin-left: 5px;
  color: $blanc;
  text-shadow: 0 0 2px $noir, 0 0 2px $noir, 0 0 2px $noir, 0 0 2px $noir,
    0 0 2px $noir;
}
nav ul li {
  display: inline;
  text-decoration: none;
}
.active {
  border: 2px solid $noir;
  background-color: $primaire;
}
