@import '../../styles/utils/variables';
@import '../utils/mixins';

nav {
  @include mobileSmall {
    height: 100px;
  }
}
nav ul {
  list-style-type: none;
  margin: 0 auto;
  margin-top: 20px;
  height: 50px;
  margin-bottom: 5px;
}
a {
  text-decoration: none;
  margin-left: 5px;
  color: $noir;
}
nav ul li {
  display: inline;
  text-decoration: none;
}
button {
  border-style: none;
  background-color: transparent;
  font-size: 16px;
}
.active {
  border-bottom: 3px solid #d63939;
  background-color: $blanc;
  border-radius: 5px 5px 0px 0px;
}
