@import '../../styles/utils/variables';

.contentText {
  width: 700px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: $primaire;
  padding: 10px;
  border-radius: 0 60px 0 60px;
}
h3 {
  font-size: 30px;
}
.textQui {
  font-size: 20px;
}
