@import '../styles/components/header';
@import '../styles/components/menuDeGauche';
@import '../styles/components/nav';
@import '../styles/components/quisuisje';
@import '../styles/components/competencesTechniques';
@import '../styles/components/projetsRealises';
@import '../styles/components/autresExperience';
@import '../styles/components/carrousel';
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
}
#root {
  min-height: 1080px;
  position: relative;
  padding-bottom: 250px;
}
.global {
  margin: 0 auto;
  width: 90%;
  border-radius: 10px 10px 0px 0px;
}

main {
  width: 100%;
  text-align: center;
}
.banniere {
  height: 250px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  margin-top: 35px;
  @include mobileSmall {
    margin-top: 0;
  }
}
ul {
  padding-left: 0;
}
.li {
  font-size: 20px;
  margin-left: 40px;
}
img {
  width: 300px;
}
